/* ------------------ Kanit ------------------ */

@font-face {
  font-family: 'Kanit';
  src:
    local('Kanit'),
    url(../../public/assets/fonts/Kanit/Kanit-Thin.ttf) format('truetype');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Kanit';
  src:
    local('Kanit'),
    url(../../public/assets/fonts/Kanit/Kanit-ExtraLight.ttf) format('truetype');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Kanit';
  src:
    local('Kanit'),
    url(../../public/assets/fonts/Kanit/Kanit-ExtraLightItalic.ttf)
      format('truetype');
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Kanit';
  src:
    local('Kanit'),
    url(../../public/assets/fonts/Kanit/Kanit-Light.ttf) format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Kanit';
  src:
    local('Kanit'),
    url(../../public/assets/fonts/Kanit/Kanit-LightItalic.ttf)
      format('truetype');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Kanit';
  src:
    local('Kanit'),
    url(../../public/assets/fonts/Kanit/Kanit-Regular.ttf) format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Kanit';
  src:
    local('Kanit'),
    url(../../public/assets/fonts/Kanit/Kanit-Regular.ttf) format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Kanit';
  src:
    local('Kanit'),
    url(../../public/assets/fonts/Kanit/Kanit-Italic.ttf) format('truetype');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Kanit';
  src:
    local('Kanit'),
    url(../../public/assets/fonts/Kanit/Kanit-Medium.ttf) format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Kanit';
  src:
    local('Kanit'),
    url(../../public/assets/fonts/Kanit/Kanit-MediumItalic.ttf)
      format('truetype');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

/* ------------------ Rubik ------------------ */

@font-face {
  font-family: 'Rubik';
  src:
    local('Rubik'),
    url(../../public/assets/fonts/Rubik/Rubik-VariableFont_wght.ttf)
      format('woff2-variations');
  font-weight: 100 1200;
  font-stretch: 25% 125%;
  font-style: normal;
}

@font-face {
  font-family: 'Rubik';
  src:
    local('Rubik'),
    url(../../public/assets/fonts/Rubik/Rubik-Italic-VariableFont_wght.ttf)
      format('woff2-variations');
  font-weight: 100 1200;
  font-stretch: 25% 125%;
  font-style: italic;
}

/* ------------------ Noto Sans Korean ------------------ */

@font-face {
  font-family: 'Noto';
  src:
    local('Noto'),
    url(../../public/assets/fonts/Noto_Sans_KR/NotoSansKR-VariableFont_wght.ttf)
      format('woff2-variations');
  font-weight: 100 1200;
  font-stretch: 25% 125%;
  font-style: normal;
}
