.board__square {
  display: flex;

  padding: 5px;
  box-shadow: 0px 0px 3px inset rgba(59, 27, 12, 0.648);

  aspect-ratio: 1/1;
}

.square__odd-row:nth-child(even),
.square__even-row:nth-child(odd) {
  background: rgba(236, 203, 141, 0.804);
}

.square__odd-row:nth-child(odd),
.square__even-row:nth-child(even) {
  background: rgba(88, 46, 16, 0.716);
}
