.board__border {
  font-size: 10px;
  color: rgba(247, 238, 221, 0.92);
}

.border__vertical {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 24px;
}

.border__vertical > .border__text {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
}

.filler {
  opacity: 0;
  width: 24px;
  aspect-ratio: 1/1;
}

.border__horizontal {
  display: flex;
  justify-content: space-between;

  height: 24px;
  width: 100%;

  margin: 0 auto;
  line-height: 24px;
}

.border__horizontal > .border__text {
  display: flex;
  justify-content: space-around;
  width: inherit;
}

.border__horizontal > .filler {
  display: none;
}
