* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --fallback-fonts: Helvetica, Arial, sans-serif;

  font-family: 'Noto', system-ui, Avenir, var(--fallback-fonts);
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background: linear-gradient(45deg, #2a2a2a, #414141);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  display: flex;
  place-items: center;
  min-width: 320px;
}
