.piece-container {
  background: transparent;
  border: transparent;
  padding: 5px;
}

.piece__diagram {
  width: 100%;
}

.piece--possible-capture {
  margin: 3px;
  padding: 2px;
  border-radius: 50%;
  background: rgb(158, 222, 131);
}
